#!usr/bin/env bash

xset r rate 300 60
xrandr --dpi 120

setxkbmap -option caps:ctrl_modifier
setxkbmap -layout us,ru -option grp:win_space_toggle

TOUCHPAD_ID=$(xinput list | grep -i "touchpad" | awk -F'id=' '{print $2}' | awk '{print $1}')
[ -z "$TOUCHPAD_ID" ] && exit 1

PROPS=$(xinput list-props "$TOUCHPAD_ID")

PROP_NAME="libinput Natural Scrolling Enabled"
if echo "$PROPS" | grep -q "$PROP_NAME"; then
    xinput set-prop "$TOUCHPAD_ID" "$PROP_NAME" 1
fi

PROP_NAME="libinput Scrolling Pixel Distance"
if echo "$PROPS" | grep -q "$PROP_NAME"; then
    xinput set-prop "$TOUCHPAD_ID" "$PROP_NAME" 50
fi

PROP_NAME="libinput Tapping Enabled"
if echo "$PROPS" | grep -q "$PROP_NAME"; then
    xinput set-prop "$TOUCHPAD_ID" "$PROP_NAME" 1
fi

